extends layout

block content
    h1= title
    .container-fluid
        .row
            - const results = [{ classification: 'Class ICBM', range: 500, name: 'W88', damage: 100 }, { classification: 'Class Tactical', range: 750, name: 'B61', damage: 150 }, { classification: 'Class SLBM', range: 1000, name: 'Trident II D5', damage: 200 }]
            each Nwclass, index in results
                .col-sm-2
                    .result-item
                        p(onclick=`buy(${index})`)= `Name: ${Nwclass.name}`
                        p(onclick=`buy(${index})`)= `Classification: ${Nwclass.classification}`
                        p(onclick=`buy(${index})`)= `Range: ${Nwclass.range} km`
                        p(onclick=`buy(${index})`)= `Damage: ${Nwclass.damage}`
    script.
        function buy(index){
            alert(`You purchased Item ${index + 1}`);
        }
